header {

    text-align: center;
    font-size: x-large;
    background-color: white;
    border: black inset;
    border-radius: 100px;


}

body {
    background-color: rgb(255, 0, 221);



}

nav {
    margin: 10px;

    background-color: aliceblue;
    font-size: x-large;
    margin-top: 50px;
    border: black inset;
    border-radius: 100px;

}

footer {

    margin-top: 200px;
    border: black inset;
    border-radius: 100px;
    background-color: antiquewhite
}

.caixa {
    background-color: aliceblue;
    border-radius: 100px;
    border: black inset;

}